# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Unit test / coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Flask instance folder
instance/
instance/uploads/

# Env files
.env
.env.*

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/

# npm
package-lock.json

# Pack files (temporary)
.git/objects/pack/tmp_pack_*

# Others
*.sqlite3
*.db
